section > p {
  color: black;
}
article {
  background: #e64c0c;
}
.cards {
  padding: 30px;
  background-color: rgba(232, 232, 233, 1);
  width: 50%;
  margin: auto;
  border-radius: 12px;
}

.cards .cardd {
  position: relative;
  background-color: rgb(70, 130, 180);
  padding: 10px;
  border-radius: 2px;
  color: white;
}
.cards h2 {
  position: absolute;
  top: 15px;
  right: 30px;
  color: black;
}
.cards p {
  width: 98%;
  margin: auto;
  padding: 10px;
}

.btn {
  padding: 8px;
  position: relative;
  background-color: rgb(10, 150, 180);
  right: -85%;
  width: 110px;
  color: white;
}
